<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Available positions for {{query}}</title>
	<link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
	</link>
</head>
<body>
  <header>
    <h1>Available positions for {{query}}</h1>
    <p><a href="javascript:history.back()">Go Back</a></p>
    <p><a href="/export/{{query}}">Export to CSV</a></p>
  </header>
  <main>
    {% if jobs|length == 0 %}
    <h3>Dang! No jobs available. Please try with another keyword.</h3>
    {% endif %}
    {% for job in jobs %}
      <h3>{{job.title}}</h3>
      <h4>{{job.company}}</h4>
      <a href="{{job.link}}">Apply</a>
      <hr>
    {% endfor %}
  </main>
</body>
</html>