<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
	</link>
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Remote Jobs</h1>
    <form action="/detail">
      <h3>Search by term:</h3>
      <input type="text" name="query" placeholder="ex) python">
      <button type="submit">Search</button>
    </form>
  </header>
  <main>

  </main>
  
</body>
</html>